flows.json
[{"id":"c80f08e5.eaa0d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"90eb7b37.7cc128","type":"function","z":"c80f08e5.eaa0d8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\n\n\n//following are required to receive a token\nvar apikey=\"rjNcmJp_CLOlg5v19Y8_vi2xIfniFrGtjdKwjPqvM3p7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["aac6aa60.9793f8"]]},{"id":"fd1cf35d.2ce62","type":"http request","z":"c80f08e5.eaa0d8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/86a744e9-09f7-4117-bc7d-d2fdb5dbc82e/deployments/1ca939a6-5ef5-45e5-91df-0ddce30aa71a/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["8c6fefcd.3246c","5d985d2e.fa96c4"]]},{"id":"37a8dcb5.871b54","type":"debug","z":"c80f08e5.eaa0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"5d985d2e.fa96c4","type":"function","z":"c80f08e5.eaa0d8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["37a8dcb5.871b54","f721ee96.e75cf"]]},{"id":"8c6fefcd.3246c","type":"debug","z":"c80f08e5.eaa0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":60,"wires":[]},{"id":"1688258f.e9773a","type":"function","z":"c80f08e5.eaa0d8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"86a744e9-09f7-4117-bc7d-d2fdb5dbc82e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\n\n\n//send the user values to service endpoint\nmsg.payload =\n{\"field\": [\" BMI \",\"Adult Mortality\",\n\"Income composition of resources\",\n\"Schooling\"], \n\"values\": [[a,b,c,d]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["fd1cf35d.2ce62"]]},{"id":"aac6aa60.9793f8","type":"http request","z":"c80f08e5.eaa0d8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["1688258f.e9773a"]]},{"id":"c362a000.d7383","type":"ui_form","z":"c80f08e5.eaa0d8","name":"","label":"","group":"8ed414f1.226958","order":0,"width":0,"height":0,"options":[{"label":"\t BMI ","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"c","type":"number","required":true,"rows":null},{"label":"Schooling","value":"d","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["90eb7b37.7cc128"]]},{"id":"f721ee96.e75cf","type":"ui_text","z":"c80f08e5.eaa0d8","group":"8ed414f1.226958","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"8ed414f1.226958","type":"ui_group","z":"","name":"Default","tab":"7bf4f31f.b3e9dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"7bf4f31f.b3e9dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]